@use "/src/assets/styles/colors" as colors;
@use "/src/assets/styles/mixin" as mixin;

.container {
  padding: 1rem;
  min-height: 89vh;
  @include mixin.flexBox(space-around, center);
  flex-direction: column;

  .turn {
    font-size: 1.5em;
  }
  .gridItem {
    cursor: pointer;
  }
  .winner {
    font-size: 2em;
    text-shadow: 1px 1px 1px colors.$red;
  }
}