$bgLight: rgb(221, 221, 221);
$textLight: rgb(34, 34, 34);
$mainLight: rgb(6, 30, 61);
$secondaryLight: rgb(6, 30, 61);

$redLight: rgb(255, 79, 79);
$red: rgb(170, 0, 0);
$gradientRed: linear-gradient(rgb(255, 79, 79), rgb(170, 0, 0));
$gradientRedReverse: linear-gradient(180deg, rgb(255, 79, 79), rgb(170, 0, 0));
$gradientRedHeader: linear-gradient(rgb(255, 79, 79), rgb(170, 0, 0) 1200%);
$gradientRedHeaderMobile: linear-gradient(rgb(255, 79, 79), rgb(170, 0, 0) 800%);


$bgDark: rgb(31, 31, 31);
$textDark: rgb(212, 212, 212);
$mainDark: rgb(6, 30, 61);
$secondaryDark: rgb(6, 30, 61);